@import './../reset.scss';
@import './../common/variables.scss';

//------------------------------------vars

$headerHeight: 50px;


//------------------------------------vars


//----------------------------------------------------window
.wrapper {
    @extend %wrapper;

}

.header {
    min-height: $headerHeight;
    @include adaptive-value('padding', 15, 5, 1440);
}

.main {
display: flex;
    @extend %main;
    margin: 0 auto;
}

.footer {}


//----------------------------------------------------window